*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact-page{
    position: relative;
    z-index: 90;
    padding-top: 5%;
  }
  .address h5, .address-1 h5{
    font-family: 'Heebo';
    font-weight: normal;
    font-size: 16px;
    color: #fff;
  }
  .contact-caption{
    margin-left: 30%;
  }
  .contact-social{
    margin-top: 10%;
  }
  .contact-page .img-connect-hr{
    width: 42%;
  }
  .contact-page .address-details{
    margin-top: 4%;
  }
  .contact-page ::placeholder{
    color: #fff !important;
  }
  .contact-sub-footer{
    margin-top: 10%;
    padding-left: 8%;
  }
  .form-control {
    border-color: #707070;
}
.gutters{
    padding-left: 0;
}
/* responsive */
@media (max-width: 2560px){
    .contact-page {
        padding-top: 7%;
    }
    .contact-page .img-connect-hr {
        width: 91%;
        margin-left: 9%;
        margin-top: -3%;
    }
    .address h5, .address-1 h5 {
        font-size: 24px;
    }
    .address h4, .contact-form h4 {
        font-size: 38px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 22px;
    }
    .social-media p, .map p {
        font-size: 24px;
        padding-top: 8%;
    }
    .contact-page .address-details {
        margin-top: 7%;
    }
}
@media (max-width: 1920px){
    .contact-form h4{
        padding-left: 10%;
    }
}
@media (max-width: 1600px){
    .connect-caption-1 hr {
        width: 60%;
    }
    .contact-page {
        padding-top: 5%;
    }
    .contact-page .address-details {
        margin-top: 5%;
    }
    .address h5, .address-1 h5 {
        font-size: 20px;
    }
    .address h4, .contact-form h4 {
        font-size: 34px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 20px;
    }
    .social-media p, .map p {
        font-size: 22px;
        padding-top: 8%;
    }
    .contact-page .img-connect-hr {
        width: 93%;
        margin-left: 9%;
        margin-top: -3%;
    }
}
@media (max-width: 1440px){
    .contact-form {
        padding-left: 10%;
    }
}
@media (max-width: 1366px){
    .connect-caption-1 hr {
        width: 52%;
    }
    .address h5, .address-1 h5 {
        font-size: 18px;
    }
    .address h4, .contact-form h4 {
        font-size: 30px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 18px;
    }
    .social-media p, .map p {
        font-size: 20px;
        padding-top: 8%;
    }
}
@media (max-width: 1280px){
    .contact-page .address-details {
        margin-top: 4%;
    }
    .connect-caption-1 hr {
        width: 45%;
    }
    .address h5, .address-1 h5 {
        font-size: 16px;
    }
    .address h4, .contact-form h4 {
        font-size: 24px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 16px;
    }
    .social-media p, .map p {
        font-size: 18px;
        padding-top: 8%;
    }
    .contact-page .img-connect-hr {
        width: 86%;
        margin-left: 9%;
        margin-top: -3%;
    }
}
@media (max-width: 800px){
    .connect-caption-1 hr {
        width: 68%;
    }
    .img-connect-hr {
        display: block;
    }
    .contact-page .img-connect-hr {
        width: 115%;
        margin-left: 9%;
        margin-top: -3%;
    }
    .contact-caption {
        margin-left: 25%;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 14px;
    }
}
@media (max-width: 768px){

} 
@media (max-width: 480px){
    .connect-caption{
        margin-top: 8%;
    }
    .address h5, .address-1 h5 {
        font-size: 18px;
    }
    .address h4, .contact-form h4 {
        font-size: 28px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 16px;
    }
    .social-media p, .map p {
        font-size: 20px;
        padding-top: 8%;
    }
    .connect-caption-1 hr {
        width: 30%;
    }
    .contact-caption {
        margin-left: 0%;
        padding-top: 10%;
    }
    .contact-form {
        padding-left: 22%;
    }
    .connect-form{
        padding-left: 10%;
    }
    .contact-page .img-connect-hr {
        width: 40%;
        margin-left: -6%;
        margin-top: -1%;
        height: 188%;
    }
}
@media (max-width: 414px){
    .contact-page .img-connect-hr {
        width: 40%;
        margin-left: -6%;
        margin-top: -1%;
        height: 190%;
    }
}
@media (max-width: 412px){
    .address h5, .address-1 h5 {
        font-size: 16px;
    }
    .address h4, .contact-form h4 {
        font-size: 26px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 15px;
    }
    .social-media p, .map p {
        font-size: 18px;
        padding-top: 8%;
    }
    .contact-page .img-connect-hr {
        width: 40%;
        margin-left: -6%;
        margin-top: -1%;
        height: 193%;
    }
}
@media (max-width: 384px){
    .address h5, .address-1 h5 {
        font-size: 15px;
    }
    .address h4, .contact-form h4 {
        font-size: 25px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 14px;
    }
    .social-media p, .map p {
        font-size: 17px;
        padding-top: 8%;
    }
    .contact-page .img-connect-hr {
        width: 40%;
        margin-left: -6%;
        margin-top: -1%;
        height: 196%;
    }
}
@media (max-width: 360px){
    .address h5, .address-1 h5 {
        font-size: 14px;
    }
    .address h4, .contact-form h4 {
        font-size: 24px;
    }
    .address p, .address p a, .address-1 p, .address-1 p a {
        font-size: 12px;
    }
    .social-media p, .map p {
        font-size: 16px;
        padding-top: 8%;
    }
    .contact-page .img-connect-hr {
        width: 40%;
        margin-left: -6%;
        margin-top: -1%;
        height: 201%;
    }
}